<%- include('../partials/header') %>

<div class="container">
  <% if (user) { %>
    <h2>User Itineraries</h2>
    <% if (itineraries.length > 0) { %>
      <table class="table table-striped">
        <thead>
        </thead>
        <tbody>
          <% itineraries.forEach(function(itinerary) { %>
            <tr>
              <td><%= itinerary.name %></td>
              <td>
                <% if (itinerary.startDate && itinerary.endDate) { %>
                  <%= new Date(itinerary.startDate).toLocaleDateString() %> - <%= new Date(itinerary.endDate).toLocaleDateString() %>
                <% } %>
              </td>
              <td>
                <a href="/itineraries/<%= itinerary._id %>" class="btn btn-primary">View Details</a>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } else { %>
      <p>No itineraries found.</p>
    <% } %>
    <a href="/itineraries/new" class="btn btn-success">Create New Itinerary</a>
  <% } %>
</div>

<%- include('../partials/footer') %>