<%- include('../partials/header') %>

<div class="container">
  <h2><%= itinerary ? 'Update Itinerary' : 'Create New Itinerary' %></h2>
  <form action="/itineraries/<%= itinerary && itinerary._id ? itinerary._id + '?_method=PUT' : 'new' %>" method="POST">
    <% if (itinerary && itinerary._id) { %>
      <input type="hidden" name="_method" value="PUT">
    <% } %>
    <div class="form-group">
      <label for="itineraryName">Itinerary Name:</label>
      <input type="text" class="form-control" id="itineraryName" name="name" value="<%= itinerary ? itinerary.name : '' %>" required>
    </div>
    <div class="form-group">
      <label for="startDate">Start Date:</label>
      <input type="date" class="form-control" id="startDate" name="startDate" value="<%= itinerary ? itinerary.startDate : '' %>">
    </div>
    <div class="form-group">
      <label for="endDate">End Date:</label>
      <input type="date" class="form-control" id="endDate" name="endDate" value="<%= itinerary && itinerary.startDate ? itinerary.startDate : '' %>">
    </div>
    <button type="submit" class="btn btn-primary"><%= itinerary ? 'Update Itinerary' : 'Create Itinerary' %></button>
  </form>
  <% if (itinerary && itinerary._id) { %>
    <form action="/itineraries/<%= itinerary._id %>?_method=DELETE" method="POST" style="display:inline;">
      <button type="submit" class="btn btn-danger">Delete Itinerary</button>
    </form>
  <% } %>
</div>

<%- include('../partials/footer') %>