<%- include('../partials/header') %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="bg-primary text-white p-3">
        <h2><%= itinerary.name %></h2>
        <a href="/itineraries/<%= itinerary._id %>/edit" class="btn btn-secondary">Edit Itinerary</a>
      </div>
      <div class="mt-3">
        <p>
          <% if (itinerary.startDate && itinerary.endDate) { %>
            <%= new Date(itinerary.startDate).toLocaleDateString() %> - <%= new Date(itinerary.endDate).toLocaleDateString() %>
          <% } %>
        </p>
      </div>
    </div>
  </div>

  <% if (itinerary.destinations.length > 0) { %>
    <% itinerary.destinations.forEach(destination => { %>
      <div class="row">
        <div class="col-12">
          <h3><%= destination.city %></h3>
          <p>Flights:</p>
          <p>Accommodations:</p>
          <p>Places:</p>
          <a href="/itineraries/<%= itinerary._id %>/destinations/<%= destination._id %>/edit" class="btn btn-secondary">Edit Destination</a>
        </div>
      </div>
    <% }) %>
  <% } else { %>
    <div class="row">
      <div class="col-12">
        <p>No Destinations Yet</p>
      </div>
    </div>
  <% } %>
  
  <div class="row">
    <div class="col-12">
      <a href="/itineraries/<%= itinerary._id %>/destinations" class="btn btn-primary">Add Destination</a>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
