<%- include('../partials/header') %>

<div class="itinerary-header">
  <div class="header-wrapper">
    <div class="header-text">
      <h2 class="itinerary-name">Trip to <%= itinerary.name %></h2>
      <p class="itinerary-dates">
        <% if (itinerary.startDate && itinerary.endDate) { %>
          <%= new Date(itinerary.startDate).toLocaleDateString() %> - <%= new Date(itinerary.endDate).toLocaleDateString() %>
        <% } %>
      </p>
    </div>
    <a href="/itineraries/<%= itinerary._id %>/edit" class="btn btn-secondary edit-btn">EDIT</a>
  </div>
</div>

<div class="container">
  <div class="content-wrapper">
    <% if (itinerary.destinations.length > 0) { %>
      <div class="row">
        <% itinerary.destinations.forEach(destination => { %>
          <div class="col-md-2 my-2 px-1">
            <a href="/itineraries/<%= itinerary._id %>/destinations/<%= destination._id %>" class="destination-card">
              <div class="card-content">
                <h3><%= destination.city %></h3>
                <% if (destination.startDate && destination.endDate) { %>
                  <p><%= new Date(destination.startDate).toLocaleDateString() %> - <%= new Date(destination.endDate).toLocaleDateString() %></p>
                <% } %>
              </div>
            </a>
          </div>
        <% }) %>
      </div>
    <% } else { %>
      <div class="row">
        <div class="col-12">
          <p>No Destinations Yet</p>
        </div>
      </div>
    <% } %>

    <div class="row">
      <div class="col-12">
        <a href="/itineraries/<%= itinerary._id %>/destinations" class="btn btn-primary">ADD CITY</a>
      </div>
    </div>
  </div>
</div>



<%- include('../partials/footer') %>