<%- include('../partials/header') %>
<div class="destination-header">
    <div class="header-wrapper">
      <div class="header-text">
        <h2 class="destination-name"><%= destination.city %></h2>
        <h6 class="itinerary-name-destinations"><%= itinerary.name %></h6>
        <p class="destination-dates">
          <% if (destination.startDate && destination.endDate) { %>
            <%= new Date(destination.startDate).toLocaleDateString() %> - <%= new Date(destination.endDate).toLocaleDateString() %>
          <% } %>
        </p>
      </div>
      <a href="/itineraries/<%= itinerary._id %>/destinations/<%= destination._id %>/edit" class="btn btn-secondary edit-btn">EDIT</a>
    </div>
  </div>
  <div class="container">
    <div class="section">
      <h3>Flights</h3>
      <a href="/itineraries/<%= itinerary._id %>/destinations/<%= destination._id %>/flights/new" class="add-resource">+ ADD FLIGHT</a>
    </div>
  
    <div class="section">
      <h3>Hotels</h3>
      <a href="/itineraries/<%= itinerary._id %>/destinations/<%= destination._id %>/hotels/new" class="add-resource">+ ADD HOTEL</a>
    </div>
  
    <div class="section">
      <h3>Places</h3>
      <a href="/itineraries/<%= itinerary._id %>/destinations/<%= destination._id %>/places/new" class="add-resource">+ ADD PLACE</a>
    </div>
  </div>
<%- include('../partials/footer') %>